.main-box {
  min-height: 300px;
  background: lightgray;
  position: relative;
}

.main-box .puzzel-box {
  background: white;
  width: 80vw;
  height: 45vw;
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.puzzel-piece {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid black;
  touch-action: none;
  z-index: 2;
}

.drop-zone {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid red;
  touch-action: none;
}

.hide {
  display: none;
}

.on-top {
  z-index: 10;
}

