.main-box {
  min-height: 500px;
  background: lightgray;
  position: relative;
  padding: 50px;
}

.main-box .puzzel-box {
  background: white;
  width: 80vw;
  height: 45vw;
  position: relative;
}

.puzzel-piece {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid black;
  touch-action: none;
}
